@import "../../styles/global";

.kanban-header {
  width: 100%;
  @include flex-center(row);
  position: relative;
  padding: $padding;
}

.kanban-header-title {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  color: $white-color;
}

.kanban-header a {
  position: absolute;
  left: $padding;
}

.kanban-header h2 {
  margin: 0;
  text-align: center;
  font-size: $font-size-medium;
}
