@import "../../styles/global";

.kanban-column-header {
  @include flex-center(row);
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  padding: 14px;
  border-bottom: 1px solid #e6e6e6;
}

.kanban-column-header h3 {
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  margin: 0 !important;
}
