@import "../../styles/global";

.layout {
  width: 100%;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  @include flex-center(column, unset, unset);
  background-color: $primary-color;
}
