@import "../../styles/global";

.add-task-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: $secondary-color;
  border-radius: $border-radius;
  @include box-shadow($box-shadow);
  text-align: center;

  h2 {
    margin-bottom: 1.5rem;
    color: $primary-color;
    font-weight: $font-weight-bold;
  }

  @include respond-to($breakpoint-sm) {
    max-width: 300px;
    padding: 1.5rem;
  }

  @include respond-to($breakpoint-xs) {
    max-width: 80%;
    padding: 1rem;
  }
}
